{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    #photo-container {
        padding: 0px !important;
    }

    .btn-primary {
        color: #fff;
        background-color: #b8726a;
        border-color: #b8726a;
    }

    .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
        color: #fff;
        background-color: #a9574d;
        border-color: #a9574d;
    }

    .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus{
        border-color: white;
        box-shadow: 0 0 0 0.2rem white;
    }
</style>

<div class="form-container" style="background-image: url({% static 'images/a1.jpg' %}); background-size: cover; background-position: center; height: 100%;">
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" id="login-btn" class="btn btn-primary">Log in</button>
        <button type="button" id="signup-btn" class="btn btn-primary" onclick="location.href='/signup'">Sign Up</button>
    </form>
</div>
{% endblock %}