{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <nav>
        <h3 id="navbar">
            <a href="/photos/new"> Add Photo </a> | <a href="/logout">Log Out </a>
        </h3>
    </nav>
    {% for p in photos %}
        <div class="photo-panel" onclick="displayImage(this)" style="background-image: url({{p.image.url}})" data-src-id="{{p.id}}" data-src-url="{{p.image.url}}" data-title="{{p.title}}" data-location="{{p.location}}" data-filters="{{p.filter}}"></div>
    {% endfor %}

    <div id="fullsize" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <div id="fullimagediv">
            <div id="image-side">
                <img class="modal-content" id="fullimage"></img>
            </div>
            <div id="config-side">
                <div class="configElement">
                    <label for="BrightnessSlider">Brightness (<span id="BrightnessValue">0</span>)</label>
                    <br>
                    <input id="BrightnessSlider" type="range" value="0" min="-100" max="100" oninput="imageFilter.brightness = this.value; applyFilters();">
                </div>
                <div class="configElement">
                    <label for="ContrastSlider">Contrast (<span id="ContrastValue">0</span>)</label>
                    <br>
                    <input id="ContrastSlider" type="range" value="0" min="-100" max="100" oninput="imageFilter.contrast = this.value; applyFilters();">
                </div>
                <div class="configElement">
                    <label for="HueSlider">Hue (<span id="HueValue">0</span>)</label>
                    <br>
                    <input id="HueSlider" type="range" value="0" min="-180" max="180" oninput="imageFilter.hue = this.value; applyFilters();">
                </div>
                <div class="configElement">
                    <label for="SaturateSlider">Saturation (<span id="SaturateValue">0</span>)</label>
                    <br>
                    <input id="SaturateSlider" type="range" value="0" min="0" max="100" oninput="imageFilter.saturate = this.value; applyFilters();">
                </div>
                <div class="configElement">
                    <label for="InvertSlider">Invert (<span id="InvertValue">0</span>)</label>
                    <br>
                    <input id="InvertSlider" type="range" value="0" min="0" max="100" oninput="imageFilter.invert = this.value; applyFilters();">
                </div>
                <div class="configElement">
                    <label for="BlurSlider">Blur (<span id="BlurValue">0</span>)</label>
                    <br>
                    <input id="BlurSlider" type="range" value="0" min="0" max="20" oninput="imageFilter.blur = this.value; applyFilters();">
                </div>
                <div class="configElement">
                    <label for="BWSlider">Black & White (<span id="BWValue">0</span>)</label>
                    <br>
                    <input id="BWSlider" type="range" value="0" min="0" max="100" oninput="imageFilter.grayscale = this.value; applyFilters();">
                </div>
                <div class="configElement">
                    <label for="SepiaSlider">Sepia (<span id="SepiaValue">0</span>)</label>
                    <br>
                    <input id="SepiaSlider" type="range" value="0" min="0" max="100" oninput="imageFilter.sepia = this.value; applyFilters();">
                </div>
                <div class="edit-btns">
                    <button class="edit-btn btn btn-light border" onclick="resetSliders()">Reset</button>
                    <button class="edit-btn btn btn-light border" onclick="save()">Save</button>
                    {% csrf_token %}
                </div>
            </div>
        </div>
    </div>

    <script>
        var w = $(".photo-panel").css("width");
        $(".photo-panel").css("height", w);
        var imageFilter = {
            brightness: 0,
            contrast: 0,
            hue: 0,
            invert: 0,
            blur: 0,
            grayscale: 0,
            sepia: 0,
            saturate: 0
        };
        var currentPhotoId;

        function closeModal(){
            $("#fullsize").hide();
            resetSliders();
        }

        function setDimensions(){
            var img = document.getElementById('fullimage');
            var h = img.clientHeight;
            var w = img.clientWidth;
            $("#fullimage").css("height", "auto");
            $("#fullimage").css("width", "auto");
            if(h>w){
                $("#fullimage").css("height", "100%");
            }else{
                $("#fullimage").css("width", "90%");
            }
        }

        function displayImage(elem){
            $("#fullsize").show();
            
            var url = $(elem).attr('data-src-url');
            $("#fullimage").attr("src", url);

            setDimensions();
            currentPhotoId = $(elem).attr('data-src-id');
            var filter = $(elem).attr('data-filters');
            if(filter) {
                imageFilter = JSON.parse(filter);
                applyFilters();
            }

            $("#caption").html(
                $(elem).attr("data-title")!='None' ? $(elem).attr("data-title") : ''
                + "<br/>" + 
                ($(elem).attr("data-location")!='None' ? $(elem).attr("data-location"):''));
        }

        window.onkeydown = function(event){
            if(event.keyCode == 27){
                closeModal();
            }
        };

        function getFilterString(filterObject){
            return "brightness("+(parseInt(filterObject.brightness)/100 + 1)+") "+
                    "contrast("+(parseInt(filterObject.contrast)/100 + 1)+") "+
                    "hue-rotate("+filterObject.hue+"deg) "+
                    "saturate("+(parseInt(filterObject.saturate)/100 + 1)+") "+
                    "invert("+(parseInt(filterObject.invert)/100)+") "+
                    "blur("+filterObject.blur+"px) "+
                    "grayscale("+filterObject.grayscale+"%) "+
                    "sepia("+filterObject.sepia+"%)";
        }

        function applyFilters(){
            $("#BrightnessSlider").val(imageFilter.brightness);
            $("#BrightnessValue").text(imageFilter.brightness);
            $("#ContrastSlider").val(imageFilter.contrast);
            $("#ContrastValue").text(imageFilter.contrast);
            $("#HueSlider").val(imageFilter.hue);
            $("#HueValue").text(imageFilter.hue);
            $("#InvertSlider").val(imageFilter.invert);
            $("#InvertValue").text(imageFilter.invert);
            $("#BlurSlider").val(imageFilter.blur);
            $("#BlurValue").text(imageFilter.blur);
            $("#BWSlider").val(imageFilter.grayscale);
            $("#BWValue").text(imageFilter.grayscale);
            $("#SepiaSlider").val(imageFilter.sepia);
            $("#SepiaValue").text(imageFilter.sepia);
            $("#SaturateSlider").val(imageFilter.saturate);
            $("#SaturateValue").text(imageFilter.saturate);

            $("#fullimage").css("filter", getFilterString(imageFilter));
        }

        function resetSliders(){
            $("#fullimage").removeAttr('style');
            
            setDimensions();
            $("input[type=range]").val("0");
            imageFilter = {
                brightness: 0,
                contrast: 0,
                hue: 0,
                invert: 0,
                blur: 0,
                grayscale: 0,
                sepia: 0,
                saturate: 0
            };
            applyFilters();
        }

        function save(){
            var data = new FormData();
            data.append('filters', JSON.stringify(imageFilter));
            data.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').val());
            fetch("/photo/"+currentPhotoId+"/update", {
                method: "POST", 
                body: data,
                credentials: 'same-origin'
            });

            $("div[data-src-id="+currentPhotoId+"]").attr('data-filters', JSON.stringify(imageFilter));
            showFilters();
            closeModal();
        }

        function showFilters(){
            var photoPanels = $(".photo-panel");
            photoPanels.map(p => {
                var filter = $(photoPanels[p]).attr('data-filters');
                if(!filter) return;
                filter = JSON.parse(filter);
                $(photoPanels[p]).css('filter', getFilterString(filter));
            });
        }
        
        showFilters();

    </script>

{% endblock %}