{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% for p in photos %}
        <div class="photo-panel" onclick="displayImage(this)" style="background-image: url({{p.image.url}})" data-src-url="{{p.image.url}}" data-title="{{p.title}}" data-location="{{p.location}}"></div>
    {% endfor %}

    <div id="fullsize" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <div id="fullimagediv">
            <div id="image-side">
                <img class="modal-content" id="fullimage"></img>
            </div>
            <div id="config-side">
                <div class="configElement">
                    <label for="BrightnessSlider">Brightness (<span id="BrightnessValue">0</span>)</label>
                    <br>
                    <input id="BrightnessSlider" type="range" value="0" min="-100" max="100" onmouseup="applyBrightness(event)">
                </div>
                <div class="configElement">
                    <label for="ContrastSlider">Contrast (<span id="ContrastValue">0</span>)</label>
                    <br>
                    <input type="range" id="ContrastSlider" value="0" min="-100" max="100" onmouseup="applyContrast(event)">
                </div>
            </div>
        </div>
        
        <div id="caption"></div>
    </div>

    <script>
        var w = $(".photo-panel").css("width");
        $(".photo-panel").css("height", w);
        
        function closeModal(){
            $("#fullsize").hide();
        }

        function displayImage(elem){
            $("#fullsize").show();
            $("#fullimage").css("height", "auto");
            $("#fullimage").css("width", "auto");

            var url = $(elem).attr('data-src-url');
            $("#fullimage").attr("src", url);

            var h = $("#fullimage").css("height");
            var w = $("#fullimage").css("width");
            if(h>w){
                $("#fullimage").css("height", "100%");
            }else{
                $("#fullimage").css("width", "90%");
            }

            $("#caption").html(
                $(elem).attr("data-title")!='None' ? $(elem).attr("data-title") : ''
                + "<br/>" + 
                ($(elem).attr("data-location")!='None' ? $(elem).attr("data-location"):''));
        }

        window.onkeydown = function(event){
            if(event.keyCode == 27){
                closeModal();
            }
        };

        function applyBrightness(event){
            Caman("#fullimage", function () {
                this.brightness(event.target.value).render();
            })
        }

        function applyContrast(event){
            Caman("#fullimage", function () {
                this.contrast(event.target.value).render();
            });
        }
    </script>

{% endblock %}


<!------------------------------------>
$("#fullimage").css("filter", "hue-rotate({{document.getElementById({{HueSlider}}).value}}deg)");

<!-- ----------------------------- -->
<a href="admin" id="downloader" download><button>Download</button></a>
<!-- <button id="downloader" onclick="download()" download="image.png">Download</button> -->