{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% for p in photos %}
        <div class="photo-panel" onclick="displayImage(this)" style="background-image: url({{p.image.url}})" data-src-url="{{p.image.url}}" data-title="{{p.title}}" data-location="{{p.location}}"></div>
    {% endfor %}

    <div id="fullsize" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <div id="fullimagediv">
            <div id="image-side">
                <img class="modal-content" id="fullimage"></img>
            </div>
            <div id="config-side">
                <div class="configElement">
                    <label for="BrightnessSlider">Brightness (<span id="BrightnessValue">0</span>)</label>
                    <br>
                    <input id="BrightnessSlider" type="range" value="0" min="-100" max="100" oninput="imageFilter.brightness = this.value; applyFilters();">
                </div>
                <div class="configElement">
                    <label for="ContrastSlider">Contrast (<span id="ContrastValue">0</span>)</label>
                    <br>
                    <input id="ContrastSlider" type="range" value="0" min="-100" max="100" oninput="imageFilter.contrast = this.value; applyFilters();">
                </div>
                <div class="configElement">
                    <label for="HueSlider">Hue (<span id="HueValue">0</span>)</label>
                    <br>
                    <input id="HueSlider" type="range" value="0" min="-180" max="180" oninput="imageFilter.hue = this.value; applyFilters();">
                </div>
                <div class="configElement">
                    <label for="SaturateSlider">Saturation (<span id="SaturateValue">0</span>)</label>
                    <br>
                    <input id="SaturateSlider" type="range" value="0" min="0" max="100" oninput="imageFilter.saturate = this.value; applyFilters();">
                </div>
                <div class="configElement">
                    <label for="InvertSlider">Invert (<span id="InvertValue">0</span>)</label>
                    <br>
                    <input id="InvertSlider" type="range" value="0" min="0" max="100" oninput="imageFilter.invert = this.value; applyFilters();">
                </div>
                <div class="configElement">
                    <label for="BlurSlider">Blur (<span id="BlurValue">0</span>)</label>
                    <br>
                    <input id="BlurSlider" type="range" value="0" min="0" max="20" oninput="imageFilter.blur = this.value; applyFilters();">
                </div>
                <div class="configElement">
                    <label for="BWSlider">Black & White (<span id="BWValue">0</span>)</label>
                    <br>
                    <input id="BWSlider" type="range" value="0" min="0" max="100" oninput="imageFilter.grayscale = this.value; applyFilters();">
                </div>
                <div class="configElement">
                    <label for="SepiaSlider">Sepia (<span id="SepiaValue">0</span>)</label>
                    <br>
                    <input id="SepiaSlider" type="range" value="0" min="0" max="100" oninput="imageFilter.sepia = this.value; applyFilters();">
                </div>
                <div class="reset">
                    <button onclick="resetSliders()">Reset</button>
                </div>
            </div>
        </div>
        
        <!-- <div id="caption"></div> -->
    </div>

    <script>
        var w = $(".photo-panel").css("width");
        $(".photo-panel").css("height", w);
        
        function closeModal(){
            $("#fullsize").hide();
            resetSliders();
        }

        function setDimensions(){
            var img = document.getElementById('fullimage');
            var h = img.clientHeight;
            var w = img.clientWidth;
            $("#fullimage").css("height", "auto");
            $("#fullimage").css("width", "auto");
            if(h>w){
                $("#fullimage").css("height", "100%");
            }else{
                $("#fullimage").css("width", "90%");
            }
        }

        function displayImage(elem){
            $("#fullsize").show();
            
            var url = $(elem).attr('data-src-url');
            $("#fullimage").attr("src", url);

            setDimensions()

            $("#caption").html(
                $(elem).attr("data-title")!='None' ? $(elem).attr("data-title") : ''
                + "<br/>" + 
                ($(elem).attr("data-location")!='None' ? $(elem).attr("data-location"):''));
        }

        window.onkeydown = function(event){
            if(event.keyCode == 27){
                closeModal();
            }
        };

        var imageFilter = {
            brightness: 0,
            contrast: 0,
            hue: 0,
            invert: 0,
            blur: 0,
            grayscale: 0,
            sepia: 0,
            saturate: 0
        };

        function applyFilters(){
            $("#BrightnessValue").text(imageFilter.brightness);
            $("#ContrastValue").text(imageFilter.contrast);
            $("#HueValue").text(imageFilter.hue);
            $("#InvertValue").text(imageFilter.invert);
            $("#BlurValue").text(imageFilter.blur);
            $("#BWValue").text(imageFilter.grayscale);
            $("#SepiaValue").text(imageFilter.sepia);
            $("#SaturateValue").text(imageFilter.saturate);

            $("#fullimage").css("filter", "brightness("+(parseInt(imageFilter.brightness)/100 + 1)+") "+
                                            "contrast("+(parseInt(imageFilter.contrast)/100 + 1)+") "+
                                            "hue-rotate("+imageFilter.hue+"deg) "+
                                            "saturate("+(parseInt(imageFilter.saturate)/100 + 1)+") "+
                                            "invert("+(parseInt(imageFilter.invert)/100)+") "+
                                            "blur("+imageFilter.blur+"px) "+
                                            "grayscale("+imageFilter.grayscale+"%) "+
                                            "sepia("+imageFilter.sepia+"%)");
        }

        function resetSliders(){
            $("#fullimage").removeAttr('style');
            
            setDimensions();
            $("input[type=range]").val("0");
            imageFilter = {
                brightness: 0,
                contrast: 0,
                hue: 0,
                invert: 0,
                blur: 0,
                grayscale: 0,
                sepia: 0,
                saturate: 0
            };
            applyFilters();
        }

    </script>

{% endblock %}
