
/* --------------------------------- Home page style sheet  --------------------------------- */
#photo-container{
    padding: 7%;
    padding-top: 1%;
}

nav{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-top: 2%;
    padding-left: 2.5%;
}

nav a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}

a{
    margin-right: 4px;
    margin-left: 4px;
}

.photo-panel{
    width: 340px;
    margin: 2%;
    overflow: hidden;
    display: inline-grid;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.photo-panel:hover{
    transform: scale(1.02);
    transition-duration: 0.3s;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 90%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
  /* Modal Content (image) */
.modal-content {
    margin: auto;
}
  
  /* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
  /* Add Animation */
.modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 1s;
}
  
@keyframes zoom {
    from {opacity: 0;} 
    to {opacity: 1}
}
  
  /* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
  /* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#fullimagediv{
    height: 500px;
    display: flex;
    flex-direction: row;

}

#fullimagediv label {
    color: white;
    left: 0;
}

#image-side{
    text-align: center;
    width: 70%;
}

#config-side{
    width: 30%;
}

input[type=range]{
    width: 300px;
}

/* --------------------------------- Login page style sheet  --------------------------------- */

html,
body {
    height: 100%;
}

.form-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
