
html{
    height: 100%;
}

body{
    height: 100%;
    min-width: 785px;
}

/* ---------------------------- login and signup page style sheet  ---------------------------- */

form{
    width: 300px;
}

#id_username, #id_password, #id_password1, #id_password2, #login-btn, #signup-btn{
    width: 300px;
    height: 50px;
    margin: 5px 0px;
}

#hint_id_username, #hint_id_password1, #hint_id_password2{
    display: none;
}

.form-container{
    padding: 120px;
}

small{
    display: none;
}

/* body.login{
    background-image: url("./static/images/IMG_0982_b.jpg");
} */

/* ---------------------------- add photo style sheet  ---------------------------- */

.form-container#add-photo{
    height: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 300px;
    height: 38px;
    border-radius: 4px;
}

#div_id_image input{
    height: 38px;
    border-radius: 8px;
}

.clearablefileinput{
    color: white;
}

.col-form-label{
    color: white;
}

/* ---------------------------- update profile style sheet  ---------------------------- */

.form-container#edit-profile{
    height: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 300px;
    height: 38px;
    border-radius: 4px;
}

/* --------------------------------- nav bar style sheet  --------------------------------- */

#navbar{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 19px;
    font-weight: bold;
    position: absolute;
    top: 73px;
    right: 80px;
    white-space: nowrap;
}

h3 a:hover{
    text-decoration: none;
}

#navbar a{
    margin-right: 4px;
    margin-left: 4px;
    text-decoration: none !important ;
    color: black !important;
}

a:hover{
    color: black;
    text-decoration: none;
}

#top-bar{
    border-bottom: 0.5px solid lightgray;
    width: 95%;
}

/* --------------------------------- Users page style sheet  --------------------------------- */

.user-icon{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.user-panel-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* --------------------------------- Home page style sheet  --------------------------------- */

#photo-container{
    padding: 7%;
    padding-top: 1%;
    height: 100%;
}

.photo-panel{
    width: 340px;
    margin: 2%;
    overflow: hidden;
    display: inline-grid;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.photo-panel:hover{
    transform: scale(1.02);
    transition-duration: 0.3s;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
    align-content:center;
}
  
  /* Modal Content (image) */
.modal-content {
    margin: auto;
}
  
  /* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
  /* Add Animation */
.modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 1s;
}
  
@keyframes zoom {
    from {opacity: 0;} 
    to {opacity: 1}
}
  
  /* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
  /* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#fullimagediv{
    height: 500px;
    display: flex;
    flex-direction: row;

}

#fullimagediv label {
    color: white;
    left: 0;
}

#fullimage{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 30px; */
}

#image-side{
    text-align: center;
    width: 70%;
}

#config-side{
    width: 30%;
}

input[type=range]{
    width: 300px;
}

.edit-btns{
    margin:8px;
}

.edit-btn{
    width: 140px;
    margin: 2px;
}

.main{
    position: relative;
}

.photo-panel-container{
    margin-top: 100px;
}

/* --------------------------------- Login page style sheet  --------------------------------- */

/* html,
body {
    height: 100%; */
/* } */

/* .form-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */
